{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
<div class="home-content">
    <h2>Добро пожаловать в Design.pro</h2>
    <p>Мы создаем современные и функциональные веб-сайты, которые помогают бизнесу расти в digital-пространстве.</p>
    <p>Наша студия предлагает полный цикл услуг по разработке и дизайну веб-проектов любой сложности.</p>
    <div class="services-preview">
        <h3>Наши услуги:</h3>
        <ul>
            <li>Разработка сайтов под ключ</li>
            <li>Дизайн интерфейсов и UX</li>
            <li>Веб-разработка на современных технологиях</li>
            <li>Адаптивная верстка</li>
            <li>Техническая поддержка</li>
        </ul>
    </div>
    <p>Присоединяйтесь к нам и создайте уникальный digital-опыт для ваших клиентов!</p>
</div>
{% endblock %}