{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
<div class="home-content">
    <h2>Добро пожаловать в Design.pro</h2>
    <p>Создаем уютные и функциональные интерьеры помещений любой сложности.</p>
    <p>Профессиональный подход к дизайну жилых и коммерческих пространств.</p>
    
    <div class="services-preview">
        <h3>Наши услуги:</h3>
        <ul>
            <li>Дизайн квартир и домов</li>
            <li>Оформление офисных помещений</li>
            <li>Коммерческий дизайн</li>
            <li>3D визуализация</li>
            <li>Авторский надзор</li>
        </ul>
    </div>
</div>
{% endblock %}