{% extends 'base.html' %}

{% block title %}Регистрация{% endblock %}

{% block content %}
<div class="wrapper fadeInDown">
  <div id="formContent">
    <h2 class="active">Регистрация</h2>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" class="fadeIn fourth" value="Зарегистрироваться">
    </form>
    <div id="formFooter">
      <a class="underlineHover" href="{% url 'login' %}">Уже есть аккаунт? Войдите</a>
    </div>
  </div>
</div>
{% endblock %}